<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>weiXinPro</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>helloServlet</servlet-name>
    <servlet-class>com.ys.servlet.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>printTime</servlet-name>
    <servlet-class>com.ys.servlet.printNowTime</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AccessWidgetsServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>com.ys.servlet.AccessWidgetsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>printTime</servlet-name>
    <url-pattern>/time</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccessWidgetsServlet</servlet-name>
    <url-pattern>/servlet/AccessWidgetsServlet</url-pattern>
  </servlet-mapping>
  
  
</web-app>